.row
  .small-3.columns
    %input#school{type:'text', placeholder:'Name'}
    %input#length{type:'text', placeholder:'Length'}
    %input#width{type:'text', placeholder:'Width'}
  .small-9.columns
    %input#add-school.button.small.radius.success{type:'button', value:'Add Skool!'}
.row
  .small-2.columns
    %input#student{type:'text', placeholder:'Name'}
  .small-2.columns
    %input#gpa{type:'text', placeholder:'GPA'}
  .small-2.columns
    %select#schools
  .small-6.columns
    %input#add-student.button.small.radius.success{type:'button', value:'Add Student!'}
.row
  .small-2.columns
    %input#subject{type:'text', placeholder:'Class'}
  .small-2.columns
    %select#pick-student
  .small-8.columns
    %input#add-subject.button.small.radius.success{type:'button', value:'Add Subject!'}


