.row
  .small-2.columns
    %input#product-image{type: 'text', placeholder: 'image.png'}
  .small-2.columns
    %input#product-name{type: 'text', placeholder: 'name'}
  .small-2.columns
    %input#product-weight{type: 'text', placeholder: 'weight'}
  .small-2.columns
    %input#product-price{type: 'text', placeholder: '$3.30'}
  .small-2.columns
    %input#product-off{type: 'text', placeholder: '14%'}
  .small-2.columns
    %input#add-product.small.radius.button{type: 'button', value: 'Add Product'}
.row
  .small-12.columns
    %table#products
      %tr
        %th Image
        %th Name
        %th Weight
        %th Price
        %th % Off
        %th Sale
.row
  .small-12.columns
    #previous.hidden.button.radius.alert.small Prev
    #next.hidden.button.radius.success.small Next

.row
  .small-6.columns
    %input#customer-name{type:'text', placeholder:'name'}
    %input#customer-image{type:'text', placeholder:'image'}
  .small-6.columns
    %input#domestic{type:'radio', name:'address', value:'Domestic'} Domestic
    %input#international{type:'radio', name:'address', value:'International'} International
    %br
    %input#add-customer.button.radius.small{type:'button', value:'Add Customer!'}

.row
  .small-4.columns
    %select#select-customer
    %input#purchase{type:'button', value:'Confirm Purchase'}
  .small-8.columns
    %table#cart
      %thead
        %tr
          %th Name
          %th Count
          %th Amount
          %th Weight
          %th Shipping
          %th Total
      %tbody
      %tfoot
        %tr
          %td#cart-count Item Count
          %td#cart-amount Total Item Price
          %td#cart-weight Total Weight
          %td#cart-shipping Total Shipping
          %td#cart-grand Grand Total


