@base: #ffffff;

body{
  background-color: @base;
}

.cardStyle{
  height: 110px;
  width: 80px;
  background-color: red;
  border: 2px solid black;
  float: left;
  margin: 10px;


}
div.card:hover{
  background-color: green;
}