#input {
  border-right: 1px solid gray;
  margin-top: 50px;
}
#input-tag {
  line-height: 16px;
  font-size: 14px;
  // border-bottom: 1px solid gray;
}
#contacts{
  height: 440px;
  overflow-y: scroll;
}
.contact{

    display: inline-block;
    list-style: none;
    margin: 7px;

    width: 150px;

  p{
      margin: 0px;
  }

  .photo{

  }
}

#map-canvas{

  margin-top: 50px;
  width: 100%;
  height: 440px;

}

