#left
  #map-canvas
#right
  .row
    .small-12.columns
      %input#start.button.success.radius.expand.large{type:'button', value:'Start Tracking!'}
    .small-12.columns
      %input#stop.button.alert.radius.expand.large{type:'button', value:'Stop Tracking!'}
  .row
    #fav_cont
      %p#favs Tag Your Favorite Spots!
      .small-8.columns
        %input#favorite{type:'text'}
      .small-4.columns
        %input#favorite-btn.button.small.radius.expand{type:'button', value:'add'}
      .clear
