!!! 5
%html{lang:'en'}
	%head
		%meta{charset:'utf-8'}
		%link{rel:'stylesheet',href:'css/normalize.css'}
		%link{rel: 'stylesheet', href:'css/qunit-theme-gabe.css'}
		%link{rel:'stylesheet',href:'css/style.css'}
		%title Color Boxes
	%body
		%h1 Color Boxes
		%input#colorString{type:'text'}
		%input#btn{type:'button', value:'Make Colorful Boxes!!'}
		%input#clearinput{type:'button', value:'Clear Input'}
		%input#clearboxes{type:'button', value:'Clear Boxes'}
		#boxes

		%script{src:'js/underscore-min.js'}
		%script{src:'js/jquery-1.10.2.min.js'}
		%script{src:'js/main.js'}








