!!! 5
%html{lang: 'en'}
  %head
    %meta{charset:'utf-8'}
    %title Jquery 4
    %link{rel:'stylesheet',href:'css/normalize.css'}
    %link{rel: 'stylesheet', href:'css/qunit-theme-gabe.css'}
    %link{rel:'stylesheet',href:'css/style.css'}


    %input#text{type:'text'}
    %span.symbol =>
    %input#result{type:'text', readonly:true}
    %input#pig_btn{type:'button', value:'Pig It Up!'}

    %script{src:'js/underscore-min.js'}
    %script{src:'js/jquery-1.10.2.min.js'}
    %script{src:'js/main.js'}
