#left
  #map-canvas
#right
  .row
    .small-12.columns
      #start.button.radius.large.success.expand Start!
  .row
    .small-12.columns
      #stop.button.radius.large.expand Stop!
  .row
    .small-12.columns
      #erase.button.radius.large.alert.expand Erase!
  .row
    .small-12.columns
      %h6.subheader#debug
