extends ../template/layout
block content
  h1 New Color Page
  form(action='/colors',method='post')
    input(name='color', type='text', placeholder='Enter Color', autofocus=true)
    button(type='submit') Save Color