header
  .row
    .small-12.columns
    h1#header Mix Master
  .row
    .small-4.columns
      a.button.tiny.expand.radius(href='/') Home
    .small-4.columns
      a.button.tiny.expand.radius(href='/songs') Songs
    .small-4.columns
      a.button.tiny.expand.radius.success(href='/songs/new') New Song