doctype 5
html
  head
    title Cats!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My Cat Page
    p Welcome to Kitty
    img(src='http://eofdreams.com/data_images/dreams/cat/cat-06.jpg')