doctype 5
html
  head
    title Dogs!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My Dog Page
    p Welcome to Doggy
    img(src='http://images.wisegeek.com/bull-mastiff.jpg')